@import url('https://fonts.googleapis.com/css2?family=Solway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
:root{
    --main-font-family: 'Solway', serif;
    --h1-font-size: 5rem;
    --paragraph-font-size: 2em;
    --contact-btn-padding: 3%;
    --contact-btn-width: 35%;
    --contact-btn-height: 5rem;

}


*{
    margin: 0;
    padding: 0;
}



header{
    background-color: black;
    height: 5rem;
   

}

nav{
    position: fixed;
    top: 0;
    margin-top: 1%;
    text-align: center;
    padding-left: 5%;
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li{
    display: inline;
}

#welcome-section{
    height: 100vh; 
    display: flex;
    flex-direction: row;

    
}

.me{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#left-section{
   flex: 1;
   text-align: center;
}

#right-section{
    flex: 1;
}

#welcome-section h1{
    color: black;
    font-family: var(--main-font-family);
    font-size: var(--h1-font-size);
   margin-top: 15%;
}

#welcome-section p{
    color: black;
    font-size: var(--paragraph-font-size);
    font-family: var(--main-font-family);
    padding: 5%;
}

#contact-btn{
    padding: var(--contact-btn-padding);
    border-radius: .5rem;
    width: var(--contact-btn-width);
    height: var(--contact-btn-height);
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Nothing You Could Do', cursive;
}

#contact-btn:hover{
    animation: button .2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes button {
    from{
        height: var(--contact-btn-height);
        width: var(--contact-btn-width);
    }

    to{
        height: calc(var(--contact-btn-height) + 1rem);
        width: calc(var(--contact-btn-width) + 5%);

    }
}


/*ADD MEDIA QUIERIES*/
