@import url('https://fonts.googleapis.com/css2?family=Solway:wght@800&display=swap');

:root{
    --main-font-family: 'Solway', serif;
    --bio-width: 50%;
    --h1-font-size: 5rem;
    --paragraph-font-size: 2em;
}


*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://lh3.googleusercontent.com/i-tQEvfMhom1SYZnTsRajObQ7F9ryUO4ROWXrWwnkL981_wxUv0GzpNd-O6e5XqRlIKuruLAoo8K6imR0nN1KadEbzyvqsi_WPBSZeqqnh-5VBXLcGDGqHuiJHx8bqbAiSrhOfbGUGSLGUsoEw1iN8ZJaCv6gCdyX-NqzXLM7aMN-y8EE_uxeivrZUaWot3v7Zogpea6gKGuZXYrf4VMxhfryVbKaPvseTiV-En82vqFXRkEazmzEO1YLt9EBatv4usy34ciaQ0YI6kA24W0DokLGLfFeW3nwURqUo7fB3YHMczogxPIUH7u71OMHwKYsh062bBlYd0qFaIuj_KShHSNpCOSenNpVyIfFN5lAF9R54CED2vtEACMthjlJAfZdAqJb5sjzMTNF9zCFAxMtRKsKOW2tX_dCAzXFuPDVjaa0XYMLCDJKLwX0cwYqgp6LniHN75C7ZqylS6OofJAIGQWd7fQgfvZFAgAwmBAnfsHip1WA5jqvMfJzxqcjEHAKn9mlMLPeDp2xLVPn0dHyb8gMMpq8ZhqV6RlSl6mjdYCkQf7Eae2nqIL1tx20j90Xv1QZauv2TYa5dQf6vLqTI00VMVgwZ_zK74NJIKmamMQIgxsqJ2eTZVCofgfXS4oO3E65_f2hgQJ5IWEi_zs4JwZuFTPCv9BosvCmI6doUMdGddnsFj6dBLGLa9LAbyZTAMPTs49ZSunR-oZSQRfQ1-7ai_SdYa6KdfYKdZtNvp6DO7uJxpP8S0cOG2FDWu6RS_dxkxxCKUxx-9wTmhF5zL54P4wXFRk9N8vVipkNduGetTHQsImvaxmotFqyAx-8ulWch4=w1668-h938-no?authuser=2");
    background-repeat:no-repeat ;
    background-position: center center center ;
  

}

nav{
    position: fixed;
    top: 0;
}

#welcome-section{
    height: 100vh;
    width: var(--bio-width);
    margin-top: 5%;
    margin-left: 2%;
}

#welcome-section h1{
    color: rgb(12, 149, 127);
    font-family: var(--main-font-family);
    font-size: var(--h1-font-size);

}

#welcome-section p{
    color: aliceblue;
    font-size: var(--paragraph-font-size);
    font-family: var(--main-font-family);
    padding: 5%;
}

/*ADD MEDIA QUIERIES*/
