
      *{
        margin: 0;
        padding: 0;
      }
      body{
        background-color: rgb(227, 231, 235);
        color: black;
      }

      #main-header{
        position: fixed;
        height: 100%;
        width: 15%;
        background-color: rgb(227, 231, 235);
        color: black;
        border-right: 3px solid black;
      }

      hr{
          border-bottom: 1px solid black;
      }
      h1{
          font-size: 22px;
          text-align: center;
          padding: 5%;
          font-family: 'Courier New', Courier, monospace;
      }

      #nav-links li{
          padding: 5%;
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
      }

      #nav-links li a{
          text-decoration: none;
          color: black
      }
      article{
          margin-left: 18%;
          position: relative;
          top: 20px;
          width: 75%;
      }

      #Introduction{
          height: 150px;
      }

      .title{
          font-size: 30px;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }

      .main-section{
          margin-bottom: 1em;
      }

      .main-section:nth-child(1){
          margin-bottom: -1em;
      }

    .main-section p{
        margin: .5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 20px;
        letter-spacing: .6px;
    }
     .main-section p, .main-section ul{
       
        font-size: 13.5px;
      }

      .main-section ul li{
          padding-left: 1em;
          padding-bottom: .5em;
      }

      code{
          background-color: rgba(203, 211, 218, 0.56);
          padding: 1mm;
          display: block;
          margin: 5px 17px auto;
      }
      #HEAD_TAG div code{
          padding: unset;
          margin: unset;
          display: unset;
      }

      #HEAD_TAG div code, #p-example{
          
          display: block;
      }

      #HEAD_TAG div code strong, #p-example{
          color: red;
      }

      #p-example{
          display: inline;
      }



      .main-section span{
          margin-top: 10px;
          margin-left: 15px;
          display: block;
      }

    
      @media(min-width: 767px) {
      article{ 
                    
          margin-left: 25%;
          margin-bottom: 3em;
      }

    

       #main-header{
           width: 20%;
 
       }

       .main-section:nth-child(2){
           margin-top: 2em;
       }

      


       
    }