*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--backgroundColor);
}

:root{
    --backgroundColor: hsl(0, 0%, 95%);
    --navbar-backgroundColor: hsl(110, 50%, 35%);
}

#header{

    position: sticky;

    padding: 1rem;
}

#header *{
    margin-top: -2%;
}


#header-img{
    height: 50px;
    position: relative;
    top: 15px;
}

#header-text{
    text-align: unset;
 
    display: inline;

}

#free-trial{
    font-size: 2rem;
    margin: 20px;
}

#nav-bar{
    display: inline;
    margin-left: 35%;
}

.nav-link{
    text-decoration: none;
    background: var(--navbar-backgroundColor);
    color: white;
    padding: 5px;
    border-radius: 10px;

}

ul, ul li{
    display: inline;
    font-size: 1.5rem;
    padding: 5px;
    
}

main{
    width: 90%;
    margin-left: 5%;
}

section{
    width: 100%;
}

#sec-1{
    border: 3px solid black;
    height: 50rem;
}


#CTA{
    margin-left: 15%;
    margin-top: 15%;
    font-size: 50px;
    position: relative; 
    top: 25%;
}

#CTA span{
    color: red;
    font-size:105px;
}

#container{
    display: flex;

    flex-wrap: wrap;
    border: 3px solid black;
}

.img-container{
    border: 5px solid black;

}

.img-container img{
    height: 500px;
}

