*{
    padding: 0;
    margin: 0;
}

:root{
    --navbar-backgroundColor: hsl(0, 0%, 95%);
    --navbar-backgroundColor2: hsl(110, 50%, 35%);
}

#header{
    background: var(--navbar-backgroundColor) ;
    position: sticky;

    padding: 2rem;
}


#header-img{
    height: 50px;
    position: relative;
    top: 15px;
}

#header-text{
    text-align: unset;
 
    display: inline;

}

#free-trial{
    font-size: 2rem;
    margin: 20px;
}

#nav-bar{
    display: inline;
    margin-left: 10%;
}

.nav-link{
    text-decoration: none;
    background: var(--navbar-backgroundColor2);
    color: white;
    padding: 5px;
    border-radius: 10px;

}

ul, ul li{
    display: inline;
    font-size: 1.5rem;
    padding: 5px;
    
}

#sec-1{
    height: 50rem;
    background: linear-gradient(-45deg, 
    transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,transparent ,
    yellow,
    yellow ,
    var(--navbar-backgroundColor2) ,
     var(--navbar-backgroundColor2)
   
     
     );
}

